body {
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://source.unsplash.com/1600x900/?pattern');
    background-size: cover;
    
}

main {
    width: 50vw;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border: 1px solid rgb(89, 89, 89);
    border-radius: .3rem;
    margin: 6rem;
    color: rgb(69, 69, 69);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    
}

ul  {
    list-style-type: none;
    width: 90%;
    margin: 0;
    padding: 0;
    max-width: 600px;
}
li {
    border: 1px solid rgb(147, 147, 147);
    border-radius: .3rem;
    padding: .3rem;
    background-color: rgb(238, 235, 235);
    margin: .3rem;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.fall {
    opacity: 0;
    transition: 200ms ease-in-out;
}

#tasks {
    margin-top: 1.4rem;
}

#finished-tasks {
    margin-top: 0;
}
#finished-tasks li {
    background-color: rgb(179, 177, 177);
}
h3 {
    margin: 3rem 0 .2rem;
}

.buttons *{
    margin: 0 .3rem
}

.check {
    color: green;
}

.done {
color: rgb(135, 134, 134);
}


#add-task:hover, #finished-task:hover {
    color: green;
}

#delete-task, #delete-finished-task, #finished-task, #add-task{
transition: 150ms ease-in-out}
#delete-task:hover, #delete-finished-task:hover{
color: red
}

#quote-wrapper {
    color: rgb(42, 42, 42);
    border-radius: .3rem;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 4rem 2rem;
    padding: 0;
    width: auto;
    max-width: 850px;
    bottom: 1rem;
}
#quote {
    font-weight: 100;
    padding: 1rem 2rem 0;
    margin: 0;
    font-size: 1.2rem;
}
#author {
    font-style: italic;
    margin: .5rem;
    margin-right: 15%;
    text-align: right;

}

#text-input::placeholder {
    color: rgb(145, 142, 142);
    font-size: .6rem;
    font-style: italic;
}


@media (max-width: 1600px) {
    body {
        background-size: auto;
    }
}
@media (max-width: 900px) {
    main {
        width: 80%;
        margin: 2rem;
    }
    #tasks, #finished-tasks {
        width: 100%
    }
    #quote-wrapper {
        /* position: relative; */
        top: 2rem;
        margin-bottom: 4rem;
    }
}

@media (max-width: 600px) {
    main {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.85);

    }
    #quote-wrapper *{
        font-size: .9rem;
    }
}